<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Ações
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-label class="ion-text-center">
		Olá, Fulano
	</ion-label>
	<ng-container *ngIf="acaoUsuario$ | async as acaoUsuario; else naopossuiacao">
		  <ion-grid class="grid" >
			  <ion-row class="header-grid">
				<ion-col>
					Ação
				</ion-col>
				<ion-col>
				  Quantidade em mãos
				</ion-col>
				<ion-col>
				  Valor da Ação
				</ion-col>
				  <ion-col>
					  Valor Total
				  </ion-col>
			  </ion-row>
			  <ion-row>
				  <ion-col>
					  {{acaoUsuario.acao.nome}}
				  </ion-col>
				  <ion-col>
					  {{acaoUsuario.quantidade}}
				  </ion-col>
				  <ion-col>
					  {{acaoUsuario.acao.valorUnitario | currency:'BRL':true}}
				  </ion-col>
				  <ion-col>
					  {{acaoUsuario.valorTotal | currency:'BRL':true}}
				  </ion-col>
			  </ion-row>
			  <ion-row size="4">
				  <ion-col>
					  <ion-list class="lista-ordens" *ngIf="!!acaoUsuario && !!acaoUsuario.ordens && acaoUsuario.ordens.length > 0">
						  <ion-list-header>
							  Ordens
						  </ion-list-header>
						  <ion-item *ngFor="let ordem of acaoUsuario.ordens">
							  <ion-grid class="grid">
								  <ion-row class="header-grid">
									  <ion-col>
										  Tipo
									  </ion-col>
									  <ion-col>
										  Quantidade
									  </ion-col>
									  <ion-col>
										  Valor
									  </ion-col>
								  </ion-row>
								  <ion-row>
									  <ion-col>
										  {{ordem.tipo}}
									  </ion-col>
									  <ion-col>
										  {{ordem.quantidade}}
									  </ion-col>
									  <ion-col>
										  {{ordem.valor}}
									  </ion-col>
								  </ion-row>
							  </ion-grid>
						  </ion-item>
					  </ion-list>
				  </ion-col>
			  </ion-row>
		  </ion-grid>
	</ng-container>
	<ng-template #naopossuiacao>
		<ion-label>Você não possui esta ação.</ion-label>
	</ng-template>
	<ion-button routerLink="/financeiro">Voltar</ion-button>
</ion-content>
