<ion-header>
	<header-pagina titulo="Ações" showBackButton="false"></header-pagina>
</ion-header>

<ion-content>
	<header-usuario></header-usuario>
	<ion-grid class="grid">
	  <ion-row class="header-grid">
		<ion-col>
			Nome
		</ion-col>
		  <ion-col>
			  Descrição
		  </ion-col>
	  </ion-row>
	  <ion-row *ngFor="let acao of acoes" [routerLink]="['/financeiro/acao-usuario/', acao.id]">
		  <ion-col>
			  {{acao.nome}}
		  </ion-col>
		  <ion-col>
			  {{acao.descricao}}
		  </ion-col>
	  </ion-row>
	</ion-grid>
</ion-content>
